<div class="centered">
  <h1>Mango</h1>
  <table class="display-table">
    <tr>
      <th>Name</th>
      <th>Planted</th>
      <th>Harvested</th>
      <th>Active</th>
      <th>Comments</th>
    </tr>
  <% @mango.each do |m| %>
    <tr>
      <td><%= m.name %></td>
      <td><%= m.planted %></td>
      <td><%= m.harvested %></td>
      <td><%= m.active %></td>
      <td><%= m.comments %></td>
    </tr>
  <% end %>
  </table>

  <%= link_to "New", new_mango_path %>

<h2>Import</h2>

<%= form_tag import_mango_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

</div>
