<div class="centered">
  <h1>Plants</h1>

  <div class="dropdown dropdown-plants">
    <button class="btn custom dropdown-toggle" type="button" data-toggle="dropdown">View <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Garlic</li>
        <li>Onion</li>
        <li>Grapefruit</li>
        <li>Sunflower</li>
        <li>Cantaloupe</li>
        <li>Blueberry</li>
        <li>Meyer Lemon</li>
        <li>Meyer Lemon/Key Lime</li>
        <li>Pinto Bean</li>
        <li>Red Bean</li>
        <li>Speckled Bean</li>
        <li>Watermelon</li>
        <li>Safflower</li>
        <li>Tangerine</li>
        <li>Blood Orange</li>
        <li>Saffron</li>
        <li>Mango</li>
        <li>Date</li>
        <li>Rosemary</li>
        <li>Oregano</li>
        <li>Amaryllis</li>
        <li>Live Oak</li>
        <li>Basil</li>
        <li>Lime Basil</li>
        <li>Cherry Tomato</li>
        <li>Sage</li>
      </ul>
  </div>




  <table class="display-table">
    <tr>
      <th class="th-left">Picture</th>
      <th>Name</th>
      <th>Planted</th>
      <th>Harvested</th>
      <th>Active</th>
      <th>Comments</th>
      <th class="th-right"></th>
    </tr>
  <% @plant.each do |p| %>
    <tr>
      <td><div class="plant-pic"></div></td>
      <td><%= p.name %></td>
      <td><%= p.planted %></td>
      <td><%= p.harvested %></td>
      <td><%= p.active %></td>
      <td><%= p.comments %></td>
      <td><%= link_to 'Edit',
        edit_plant_path(p),
        class: 'btn btn-default'
      %>
      <%= link_to 'Delete',
        plant_path(p),
        method: :delete,
        class: 'btn btn-danger',
        data: { confirm: 'Are you sure?' }
      %></td>
    </tr>
  <% end %>
  </table>
</div>
