<div class="centered">
  <h1>Red Onion</h1>
  <table class="display-table">
    <tr>
      <th>Name</th>
      <th>Planted</th>
      <th>Harvested</th>
      <th>Active</th>
      <th>Comments</th>
    </tr>
  <% @redonion.each do |ro| %>
    <tr>
      <td><%= ro.name %></td>
      <td><%= ro.planted %></td>
      <td><%= ro.harvested %></td>
      <td><%= ro.active %></td>
      <td><%= ro.comments %></td>
    </tr>
  <% end %>
  </table>

  <%= link_to "New", new_redonion_path %>

<h2>Import</h2>

<%= form_tag import_redonion_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

</div>
