<div class="centered">
  <h1>Grapefruit</h1>
  <table class="display-table">
    <tr>
      <th>Name</th>
      <th>Planted</th>
      <th>Harvested</th>
      <th>Active</th>
      <th>Comments</th>
    </tr>
  <% @grapefruit.each do |g| %>
    <tr>
      <td><%= g.name %></td>
      <td><%= g.planted %></td>
      <td><%= g.harvested %></td>
      <td><%= g.active %></td>
      <td><%= g.comments %></td>
    </tr>
  <% end %>
  </table>

  <%= link_to "New", new_grapefruit_path %>

<h2>Import</h2>

<%= form_tag import_grapefruit_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

</div>
