<div class="centered">
New Grapefruit

<%= form_for @grapefruit do |g| %>
  <div class='form-group'>
    <%= g.label :name %>
    <%= g.text_field :name %>
  </div>
  <div class='form-group'>
    <%= g.label :planted %>
    <%= g.text_field :planted %>
  </div>
  <div class='form-group'>
    <%= g.label :comments %>
    <%= g.text_area :comments, rows: 8 %>
  </div>
  <%= g.submit "Save", class: 'btn btn-success' %>

<% end %>

</div>
