<!DOCTYPE html>
<html>
  <head>
    <title>Agricola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Diplomata+SC|Rakkas|Sail" rel="stylesheet">

  </head>

  <body>
    <div class="centered">

      <%= link_to 'agricola', root_path, class: 'title' %>

      <%= link_to 'About', about_index_path, class: "btn custom" %>
      <%= link_to 'Plants', plants_index_path, class: "btn custom" %>
      <!-- <%= link_to 'Data', charts_index_path, class: "btn custom" %> -->
      <%= link_to 'Control Center', controls_index_path, class: "btn custom" %>

      <%= link_to "Sign In", new_user_path, class: "sign-in" %>

      <div class="yield">
        <%= yield %>
      </div>


    </div>
  </body>
</html>
